/.phpunit.cache
/node_modules
/frontend/node_modules
/frontend/dist
/backend/node_modules
/backend/public/build
/backend/public/hot
/backend/public/storage
/backend/storage/*.key
/backend/vendor
/backend/.env
/backend/.env.backup
/backend/.env.production
/backend/*.db
/backend/.phpunit.result.cache
.phpunit.result.cache
/.venv
/fastapi-backend/.venv
/fastapi-backend/.pytest_cache
/fastapi-backend/__pycache__
/fastapi-backend/**/*.pyc
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/scratch
/work
